body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header, .footer, .content{
    display: flex;
    padding: 0px 32px;
}

.content{
    flex-direction: column;
    padding: 0;
}

.container1, .container2, .container3, .container4{
    display: flex;
    flex-grow: 1;
}


.container1{
    background: #1f2937;
    justify-content: center;
    align-items: center;
}

.left-text, .right-image{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: stretch;
}

.left-text{
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 400px;
}

.left-text h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.left-text p{
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.left-text button{
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

.right-image{
    background: #e5e7eb;
    margin: 16px 32px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.header, .footer{
    background: #1f2937;
    height: 72px;
}

.header{
    justify-content: space-between;
    align-items: center;
}

.footer{
    justify-content: center;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    
}

.copyright{
    color: #e5e7eb;
    font-size: 18px;
}

.side-links{
    display: flex;
}


a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.content{
    height: 600px;
}